
.progress-bar {
    border: 1px solid #C5C5C5;
    background-color: #E9ECEF;
    width: 500px;
    text-align: center;
    border-radius: 50px;
    position: relative;
}

span {
    position: absolute;
    left: 50%;
}

.progress {
    height: 25px;
    width: 0;
    background-color: lightgreen;
    border-radius: 50px;
    transition: width 0.5s ease;
}
